.form-actions {
  text-align: right;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 600px) {
  .form-controls {
    margin-left: 0rem;
  }
  button {
    width: 100%;
  }
}
