.submitting {
  margin: 3rem auto;
  text-align: center;
}

.submitting h1 {
  font-size: 3rem;
  color: #fff;
}

.job-submit {
  background: none;
  border: none;
  padding: 0;
  margin-top: 22px;
}

.job-submit:hover {
  text-decoration: underline;
  background: none;
  border: none;
}
